AKRAB_APP_ENV=testing
AKRAB_BASE_URL=http://localhost/

AKRAB_DB_HOST=127.0.0.1
AKRAB_DB_NAME=akrab_test
AKRAB_DB_USER=akrab_test
AKRAB_DB_PASS=testing_only_password

CLINICAL_RISK_ENABLED=false
AKRAB_UKS_REGISTRATION_CODE=testing_only_registration_code
